body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: snow;
    
}

header {
    text-align: center;
}
.logo{
    max-width: 40%; /* Para que la imagen ocupe la mitad de la pantalla */
    height: auto;
}
main{
    max-width: 1000px;
    margin:auto;
    background-color: rgb(255, 246, 240);
    border:  1px solid black;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
h3{
    font-size: medium;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.perfil, .experiencia, .educacion, .habilidades, .referencias{
    margin-bottom: 30px;
    line-height: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f0f0f0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
